@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Caption.woff2') format('woff2'),
        url('fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-CaptionBold.woff2') format('woff2'),
        url('fonts/PTSans-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('fonts/Museosanscyrl500.woff2') format('woff2'), url('fonts/Museosanscyrl500.woff') format('woff'), url('Museosanscyrl500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #504A62;
    font-weight: bold;
    position: relative;
    font-family: 'PT Sans Caption', Arial, sans-serif; 
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 400px;
    min-height: 1000px;
    
    background-image: url("img/left_background.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    
    width: 554px;
    min-height: 1000px;
    
    background-image: url("img/right_background.svg");
    background-repeat: no-repeat;
    background-position: 0px 0;
    z-index: -2;
}

.header-wrapper {
    padding: 36px 183px 0px 195px;
    margin-bottom: 106px;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* Interactive burger-menu */

.menu__icon {
    display: none;
    width: 25px;
    height: 17px;
    position: relative;
    cursor: pointer;
}

.menu__icon-line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FF9100;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu__icon-top-line {
    top: 0px;
  }
  
  .menu__icon-second-line, .menu__icon-third-line {
    top: 7px;
  }
  
  .menu__icon-bottom-line {
    top: 14px;
   }

/* for JavaScript code - will be used later  */

   /* .menu.menu_state_open .menu__icon-top-line {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  
  .menu.menu_state_open .menu__icon-second-line {
    transform: rotate(45deg);
  }
  
  .menu.menu_state_open  .menu__icon-third-line {
    transform: rotate(-45deg);
  }
  
  .menu.menu_state_open  .menu__icon-bottom-line {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  .menu.menu_state_open .menu__links {
    display: block;  
  } */



.logo {
    display: block;
    padding-left: 48px;
    font-size: 38px;
    line-height: 52px;
    transform: scaleX(0.9);
}

.logo-wrapper {
    position: relative;
}

.logo-wrapper::before {
    content: "";
  
    position: absolute;
    bottom: 12px;
    left: 6px;
  
    width: 29px;
    height: 29px;
  
    background-color: #E89C38;
    opacity: 0.5;
    border-radius: 5px;
    transform: scaleX(1);
    transform: rotate(135deg);
}
  
  .logo-wrapper::after {
    content: "";
  
    position: absolute;
    bottom: 16px;
    left: 2px;
  
    width: 29px;
    height: 29px;
  
    background-color: #FFBE4D;
    opacity: 0.5;
    border-radius: 5px;
    transform: scaleX(1);
    transform: rotate(135deg);
    z-index: -1;
}

.main-menu {
    padding-top: 22px;
}

.main-menu__item {
    text-decoration: none;
    color: #504A62;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 11px;
}

.intro-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 0;
    max-width: 868px;
    margin: 0 auto 53px;
}

.intro__button-wrapper {
    width: 426px;
    min-height: 620px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    background-image: url("img/iphonexs.png");
    background-repeat: no-repeat;
    background-position: -30px 154px;
}

.download-button {
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
}

@media only screen and (min-width: 1171px) and (max-width: 1366px) {
    .container {
        max-width: 1366px;
    }

    .container::before {
        top: 40px;
        left: -10px;
        background-size: 360px;
    }

    .container::after {
        width: 394px;
        min-height: 764px;
        background-image: url("img/right_background_1366.svg");
        background-size: 395px;
    }

    .header-wrapper {
        padding: 29px 146px 0px 224px;
        margin-bottom: 76px;
    }

    .logo {
        padding-left: 36px;
        font-size: 29px;
        transform: scaleX(0.9);
    }

    .logo-wrapper::before {
        bottom: 16px;
        left: 3px;
      
        width: 22px;
        height: 22px;
      }

    .logo-wrapper::after {
        bottom: 19px;
        left: 0px;

        width: 22px;
        height: 22px;
      }

    .main-menu__item {
        color: #504A62;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding-left: 9px;
        padding-right:9px;
    }

    .intro-title {
        font-size: 32px;
        line-height: 41px;

        max-width: 720px;
        margin: 0 auto 38px;
    }

    .download-button {
        width: 134px;
        height: 44px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .intro__button-wrapper {
        width: 333px;
        min-height: 620px;
        background-position: -23px 104px;
        background-size: 380px;
    }

}

    @media only screen and (min-width: 931px) and (max-width: 1170px) {
    .container {
        max-width: 1170px;
    }

    .container::before {
        top: 0px;
        left: 0px;
        background-size: 315px;
        background-image: url("img/left_background_1170.svg");
    }

    .container::after {
        width: 395px;
        min-height: 764px;
        background-image: url("img/right_background_1366.svg");
        background-size: 395px;
    }

    .header-wrapper {
        padding: 30px 48px 0 125px;
        margin-bottom: 76px;
    }
    .logo {
        padding-left: 36px;
        font-size: 29px;
        transform: scaleX(0.9);
    }

    .logo-wrapper::before {
        bottom: 16px;
        left: 3px;
      
        width: 22px;
        height: 22px;
      }

    .logo-wrapper::after {
        bottom: 19px;
        left: 0px;

        width: 22px;
        height: 22px;
      }

    .main-menu {
       padding-top: 19px;
    }
    .main-menu__item {
        color: #504A62;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding-left: 9px;
        padding-right:9px;
    }

    .intro-title {
        font-size: 32px;
        line-height: 41px;

        max-width: 720px;
        margin: 0 auto 38px;
    }

    .download-button {
        width: 134px;
        height: 44px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .intro__button-wrapper {
        width: 333px;
        min-height: 620px;
        background-position: -23px 102px;
        background-size: 380px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 930px) {
    .container {
        max-width: 1170px;
    }

    .container::before {
        top: 0px;
        left: 0px;
        background-size: 315px;
        background-image: url("img/left_background_1170.svg");
    }

    .container::after {
        width: 395px;
        min-height: 764px;
        background-image: url("img/right_background_1366.svg");
        background-size: 395px;
    }

    .header-wrapper {
        padding: 30px 48px 0 125px;
        margin-bottom: 76px;
    }

    .logo {
        padding-left: 36px;
        font-size: 29px;
        transform: scaleX(0.9);
    }

    .logo-wrapper::before {
        bottom: 16px;
        left: 3px;
      
        width: 22px;
        height: 22px;
    }

    .logo-wrapper::after {
        bottom: 19px;
        left: 0px;

        width: 22px;
        height: 22px;
    }

    .main-menu {
       padding-top: 19px;
    }

    .main-menu__item {
        color: #504A62;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding-left: 9px;
        padding-right:9px;
    }

    .intro-title {
        font-size: 32px;
        line-height: 41px;

        max-width: 500px;
        margin: 0 auto 38px;
    }

    .download-button {
        width: 134px;
        height: 44px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .intro__button-wrapper {
        width: 333px;
        min-height: 620px;
        background-position: -23px 102px;
        background-size: 380px;
    }
}

@media only screen and (max-width: 629px) {
    .container {
        width: 100%;
        max-width: 629px;
        position: relative;
        color: #000000;
    }

    .header-wrapper {
        padding: 54px 38px 0px;
        margin-bottom: 23px;
    }

    .header {
        min-height: 108px;
        flex-direction: column;
        align-items: center;
    }

    .intro__decoration-wrapper-side-left,
    .intro__decoration-wrapper-side-right,
    .container::before,
    .container::after {
        display: none;
    }

    .menu__icon {
        display: block;
        align-self: flex-end;
    }

    .main-menu {
        display: none;
        position: fixed;
    
        width: 100%;
        min-width: 375px;
        min-height: 667px;
        background-color: #FFF;
        z-index: 1000;
        padding-top: 130px;
        top: 75px;
        overflow: auto;
    }

    .main-menu__item {
        display: block;
        text-align: center;
        margin: 0 auto 24px;
        color: #000000;
        font-family: 'Museo Sans Cyrl';
        font-size: 30px;
        line-height: 36px;
    }

    .logo {
        font-size: 44px;
        padding-left: 48px;
        padding-right: 20px;
    }
    
    .logo-wrapper::before {
        bottom: 10px;
        left: 1px;
        background-color: #FF9100;
        width: 33.3px;
        height: 33.3px;
    }
      
    .logo-wrapper::after {
        bottom: 14px;
        left: -3px;
        background-color: #FF9100;
        width: 33.3px;
        height: 33.3px;
    }

    .intro-title {
        font-size: 24px;
        line-height: 31px;
        padding-right: 5px;
        max-width: 283px;
        margin: 0 auto 66px;
    }

    .intro__button-wrapper {
        width: 320px;
        min-height: 320px;
        margin: 0 auto 12px;
        background-position: 0px 45px;
        background-size: 315px;
    }

    .download-button {
        width: 108px;
        height: 36px;
        padding-left: 3px;
        padding-right: 7px;
    }
}